.glowing-border {
	--gradient-glow: red, yellow, green, blue, purple, red;
	/* --glow-intensity: 0.25; NOTE: can edit to change values */
	/* --glow-size: 1rem; */
	/* --border-width: 3px; */

	margin-block: 3rem;
	padding: 8rem 3rem;
	max-width: 60ch;

	border: var(--border-width, 3px) solid transparent;
	border-left: 0;
	border-radius: 0 100vw 100vw 0;
	background: linear-gradient(var(--surface, canvas) 0 0) padding-box,
		conic-gradient(from -90deg, var(--gradient-glow)) border-box;

	position: relative;
	isolation: isolate; /* It's stacking on the parent and not going behind the parent: NOTE make not in html on index page */
}

.glowing-border::before,
.glowing-border::after {
	content: '';
	position: absolute;
	border-radius: inherit;
}

.glowing-border::before {
	z-index: -1;
	background: var(--surface, canvas);
	inset: 0.5rem;
	scale: 1.2 1;
	transform-origin: right;
	filter: blur(var(--glow-size, 1rem));
}

.glowing-border::after {
	z-index: -2;
	inset: -1.5rem;
	background: conic-gradient(from -90deg, var(--gradient-glow)) border-box;
	filter: blur(var(--glow-size, 1rem)); /* NOTE: the second value is a fallback value */
	opacity: var(--glow-intensity, 0.125);
}

.glowing-border.right {
	--gradient-glow: purple, yellow, green orange, green, yellow;
	margin-inline-start: auto;
	border-radius: 100vw 0 0 100vw;
	border: var(--border-width, 3px) solid transparent;
	border-right: 0;

	&::before {
		transform-origin: left;
	}
}

@layer general-styling {
	* {
		box-sizing: border-box;
	}

	html {
		font-family: system-ui;
		color-scheme: dark;
	}

	body {
		margin: 0;
		overflow-x: clip;

		/* --surface: #333; */

		background: var(--surface);
	}
}
